extends consoleLayout

block append pageStyles
    

block content
  div(class="row row-bg")
    div(class="col-md-12")
      div(class="widget")
        div(class="widget-header")
          div(class="pull-left")
            h3 账户信息
        div(class="widget-content")
          div(class="row")
            form(class="form-horizontal" action='#' method="POST")
               div(class="form-group")
                  label(class="col-sm-2 control-label"  for="name") ID
                  div(class="col-sm-8")
                    p(class="form-control-static") #{principal.Account.code}
               
                div(class="form-group")
                  label(class="col-sm-2 control-label"  for="name") 名称
                  div(class="col-sm-8")
                    p(class="form-control-static") #{principal.Account.name}

                div(class="form-group")
                  label(class="col-sm-2 control-label" for="email") 负责人
                  div(class="col-sm-8")
                    p(class="form-control-static") 何磊

                div(class="form-group")
                  label(class="col-sm-2 control-label" for="email") 负责人E-mail
                  div(class="col-sm-8")
                    p(class="form-control-static") lei.he@aivics.com
                
          
        
      
   
  
      
    